// Colores de backgrounds
$background-generic: #ffffff;
$background-box: #c7f9cc;
$background-modal: #000000;
$category-title-tag: #57cc99;

// Colores de fuentes
$font-color-alternative: #f1bf28;
$font-color-titles: #57cc99;
$font-color-light: #ffffff;
$font-color-dark: #000000;
$font-color-grey: #eeeeee;
$font-color-dark-grey: #666666;

//Botones, Bordes, Detalles
$btn-color-primary: #f00808;
$category-btn-tag: #57cc99;
